
<h1>Activation de votre compte TODO AND CO</h1>

<p>L'administrateur de l'application TODO AND CO vous a créé un compte.</p>

<p>
    Vous pouvez désormais vous connecter avec les identifiants suivants :
                <ul>
                    <li>votre login (<strong>{{ userEmail }}</strong>)</li>
                    <li>le mot de passe qui vous a été attribué temporairement (<strong>{{ userPwd }}</strong>)</li>
                </ul>

</p>

<p><strong>Une fois votre première connexion effectuée, nous vous conseillons vivement de vous rendre sur votre profil pour personnaliser votre mot de passe !!!</strong></p>

<p><a href="{{ absolute_url(path('home')) }}">Accéder à l'application</a></p>